#!/bin/bash

set -eufo pipefail


{{- if .macos.defaults }}
{{-   range .macos.defaults }}
defaults write {{ if .domain }}{{ .domain }}{{ else }}-g{{ end }} {{ .key }} {{ if .type }}-{{ .type }}{{ else }}-string{{ end }}
{{-     if eq (typeOf .value) "map" }}
{{-       range $k, $v := .value }}{{ $k }} {{ $v | quote }} {{- end }}
{{-     else if eq (typeOf .value) "slice" }}
{{-       range $i, $v := .value }}{{ $v | quote }}{{- if ne (add $i 1) (len .value) }} {{- end }}{{- end }}
{{-     else }}
{{        .value | quote }}
{{-     end }}
{{-   end }}
{{- else }}
# No macos defaults found.
{{- end }}



# macOS Dock Configurations
# =========================
#
# References
# ----------
# - https://github.com/kcrawford/dockutil
# - https://github.dev/twpayne/dotfiles/blob/master/home/.chezmoiscripts/linux/run_onchange_before_install-packages.sh.tmpl

trap 'killall Dock' EXIT

declare -a remove_labels=(
	Launchpad
	Safari
	Messages
	Mail
	Maps
	Photos
	FaceTime
	Contacts
	Reminders
	Notes
	Freeform
	TV
	Music
	Keynote
	Numbers
	Pages
	"App Store"
)

for label in "${remove_labels[@]}"; do
	dockutil --no-restart --remove "${label}" || true
done
