#!/bin/bash

set -eufo pipefail

brew --version

brew update

export HOMEBREW_PREFIX=$(brew --prefix)
brew bundle install --verbose --file=/dev/stdin <<EOF

{{ range .brewfile.tap -}}
tap {{ . }}
{{ end -}}

{{ range .brewfile.brew -}}
brew {{ . }}
{{ end -}}

cask_args {{ .brewfile.cask_args }}

{{ range .brewfile.cask -}}
cask {{ . }}
{{ end -}}

{{ range .brewfile.vscode -}}
vscode {{ . }}
{{ end -}}

EOF
