#!/bin/bash

set -eufo pipefail


if [ "$(command -v brew)" ]; then
    # Homebrew is already installed
    brew update
else
    # Install Homebrew
    if [ "$(command -v curl)" ]; then
        /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
    else
        echo "To install Homebrew, you must have curl installed." >&2
        exit 1
    fi
    # Reload shell profile to update the PATH for brew
    if [ -f ~/.bash_profile ]; then
        source ~/.bash_profile
    elif [ -f ~/.zshrc ]; then
        source ~/.zshrc
    fi
fi


brew --version

# HOMEBREW_PREFIX is used in the Brewfile 
# to run `postinstall` commands (see miniforge cask)
# but is not set on GitHub's `macos-13` runner.
export HOMEBREW_PREFIX=$(brew --prefix)

brew bundle install --verbose --file=/dev/stdin <<EOF

{{ range .brewfile.tap -}}
tap {{ . }}
{{ end -}}

{{ range .brewfile.brew -}}
brew {{ . }}
{{ end -}}

cask_args {{ .brewfile.cask_args }}

{{ range .brewfile.cask -}}
cask {{ . }}
{{ end -}}

{{ range .brewfile.vscode -}}
vscode {{ . }}
{{ end -}}

EOF


# Install Oh-My-zsh
# - https://github.com/ohmyzsh/ohmyzsh/wiki
# sh -c "$(curl -fsSL https://raw.githubusercontent.com/ohmyzsh/ohmyzsh/master/tools/install.sh)"
