# Ignore patterns in target path.
# - https://www.chezmoi.io/reference/special-files/chezmoiignore/
# - https://github.com/twpayne/dotfiles/blob/master/home/.chezmoiignore.tmpl


**/README.md

{{ if ne .chezmoi.os "darwin" }}
.chezmoiscripts/darwin/**/*
{{ .vscode.path.user_dir.darwin }}/**/*
{{ end }}

{{ if ne .chezmoi.os "linux" }}
.chezmoiscripts/linux/**/*
{{ .vscode.path.user_dir.linux }}/**/*
{{ end }}

{{ if ne .chezmoi.os "windows" }}
.chezmoiscripts/windows/**/*
{{ .vscode.path.user_dir.windows }}/**/*
{{ else }}
.bash_aliases
.config/git/cookies
.config/psql
.gnupg
.gnupg/**
.inputrc
.oh-my-zsh
.oh-my-zsh/**
.ssh/id_rsa
.ssh/id_rsa.pub
.tmux.conf
.zprofile
.zshrc
{{ end }}
